* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

html, body
{
    height: 100%;
}

body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6rem;
	line-height:1.6em;
	margin:0;
}

a{
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.space {
  /* line-height: .0000001em; */
  text-align: center;
  bottom: 0px;
}

.space-w {
  padding-top: 50px;
  /* line-height: .0000001em; */
  text-align: center;
  color: #000;
}

.space-w a:visited{
  color: #000;
}

.space img {
  max-height: 150px;
  max-width: 200px;
  width: 3%;
  height: 3%;
}

#third {
  padding: 20px 0 20px 65px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}


.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

.navbar{
  font-family: 'Roboto', sans-serif;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}

/* this is the right margin splitter */
.navbar-collapse {
  justify-content: flex-end;
}

#showcase{
	background-image:url('../images/showcaseg.jpg');
	background-position:center right;
	/* min-height:300px; */
	margin-bottom:0px;
	text-align: center;
	height: 100%;
  background-size: cover;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding:200px 0 100px 0;
}

/* #showcase p{
  color: #fff;
  font-size: 32px;
	padding-top:90px;
} */

#showcase li {
  text-align: right;
}



/* THE SECOND SECTION STARTS HERE */

#about  {
  padding-top: 50px;
  background-color: #191919;
  text-decoration-color: white;
}

.sectionHeading h1{
  color: white;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-bottom: 30px;

}

#main-block{
  color: white;
	float:left;
	width:100%;
	padding: 10px 0 70px 0;
  /* font-size: 1.2vw; */
}

.block{
  display: inline-block;
  min-height: 100px;
	float:left;
	width:33.3%;
	/* border:1px solid #ccc; */
	padding:10px;
	box-sizing: border-box;
  margin-bottom: 15px;
  color: #fff;
}

.block h3{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  /* font-size: 1.5vw; */
  letter-spacing: .05em;
}

.block ul{
  /* font-size: .8vw; */
  font-weight: 700;
  text-align: left;
  padding: 0 75px 0 15px;
}

.features{
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title{
  color: #fff;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.features ul{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 150;
  font-size: 1rem;

}

/* THE THIRD SECTION STARTS HERE */

#recentProjects  {
  display: block;
  padding-top: 50px;
  background-color: white;
  text-decoration-color: #191919;
  height: 100%;
  color: #000;
}

.sectionHeading-rp h1{
  text-transform: uppercase;
  letter-spacing: .5em;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

#main-block-rp{
  color: #000;
	float:left;
	width:100%;
	padding: 5px 0 20px 0;
}

.table{

}

.table thead{
  font-family: "Gravity-Bold", sans-serif;
}

.table tbody{
  font-family: "Gravity-Regular", sans-serif;
  /* padding: 50px; */
}

.small{
  padding: 5px;
  text-align: right;
  text-decoration: underline;
  color: Blue;
  font-size: 1vw;
  font-family: "Gravity-Regular", sans-serif;
}

/* THE FOURTH SECTION STARTS HERE */

#services {
  display: block;
  padding: 50px 0 100px 0;
  background-color: white;
  text-decoration-color: white;
  height: 100%;
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}



#main-footer{
	color:#000;
  bottom: 0;
    /* position: absolute; */
	text-align: center;
}

.page-footer{
  background-color: #222;
  color: #ccc;
  padding: 5px 0 5px;
}

.footer-copyright{
  color: #fff;
  padding: 5px 0;
}

#myBtn {
  display: none;/* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #34495e; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}
